<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <div th:if="${user.firstName == null}">
    <title>Add</title>
  </div>
  <div th:if="${user.firstName != null}">
    <title>Edit</title>
  </div>
</head>

<body>
<form th:method="POST" th:action="@{/edit}" th:object="${user}">
  <div th:if="${user.firstName != null}">
    <input type="hidden" name="id" value="${user.id}">
  </div>
  <label for="firstName">First Name</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br>
  <label for="lastName">Last Name</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br>
  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age"/>
  <br>
  <input type="submit" value="Edit user"/>
</form>
</body>
</html>